body {
    width : 100vw;
    height: 100vh;
    background-color: beige;
    font-family: 'Jua', sans-serif;
}

.modal {
    position: absolute;
    background-color: rgba(25, 25, 25, .4);
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal > .content {
    background-color: white;
    width : 300px;
    height : 200px;
    display : flex;
    justify-content: center;
    align-items : center;
    flex-direction: column;
    border-radius: 10px;   
}

.hidden {
    display: none;
}

#checkResult {
    
    background-color: skyblue;
    color:white;
    border: 1px solid skyblue;
}

#match_search
{
    margin-top:30px;
    background-color: skyblue;
    color:white;
    border: 1px solid skyblue;
}

/* .font-sort {
    transform: translate(-40%,-50%);
} */

